{% extends 'layout.html' %}
{% block content %} 

<h2 class="text-center">Calculadora de economia</h2>
<hr>
<form method="POST" action="{% url 'home' %}" >
  {% csrf_token %}
  <div class="form-group mb-2">
    <label for="rate_one">Gasto do primeiro mês (KWh)</label>
    <input type="number" class="form-control" id="rate_one" name="rate_one"  placeholder="12.000,00" required>

    <label for="rate_two">Gasto do segundo mês (KWh)</label>
    <input type="number" class="form-control" id="rate_two" name="rate_two"  placeholder="12.000,00" required>

    <label for="rate_three">Gasto do terceiro mês (KWh)</label>
    <input type="number" class="form-control" id="rate" name="rate_three"  placeholder="12.000,00" required>
  </div>

  <div class="form-group mb-2">
    <label for="distributor_tax">Valor da tarifa</label>
    <input type="number" class="form-control" id="distributor_tax" placeholder="0,3" name="distributor_tax" required step=".0000000000000001">
  </div>

  <div class="form-group mb-2">
    <label for="tax_type" >Tipo de tarifa</label>
    <select class="form-control" id="tax_type" name="tax_type" required>
      <option value="Comercial">Comercial</option>
      <option value="Residencial">Residencial </option>
      <option value="Industrial">Industrial</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary mt-2 mb-4">enviar</button>
</form>
{% if desconto %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Calculado</strong>:   desconto de  {{desconto}} %

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}